/*顶部banner*/
.advantage {
	float: left;
	width: 25%;
	text-align: center;
	margin: 0px 0 50px;
	display: table-cell;
}
.advantage h2 {
	width: 300px;
	height: 60px;
	padding: 10px 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.advantage .advantage_bg {
	width: 240px;
	height: 240px;
	background: url(../img/advantage.png) no-repeat 5px 50px;
	background-size: cover;
	display: inline-block;
}
.advantage:nth-of-type(2) .advantage_bg {
	background-position-x: -320px;
}
.advantage:nth-of-type(3) .advantage_bg {
	background-position-x: -625px;
}
.advantage:nth-of-type(4) .advantage_bg {
	background-position-x: -920px;
}
.advantage h2 span {
	display: block;
	font-size: 18px;
	color: #333;
	line-height: 30px;
	letter-spacing: 0px;
}
.advantage h2 span:nth-of-type(2) {
	font-size: 14px;
	color: #666;
	margin-top: 10px;
	font-weight: normal;
}
.advantage span:nth-of-type(2) i {
	display: block;
	font-style: normal;
	line-height: 22px;
}

/*与传统的对比*/
.bigbanner {
	position: relative;
    height: 400px;
    min-width: 1200px;
    overflow: hidden;
    z-index: 999;
}
.bigbanner .banner_show {
	position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
    overflow: hidden;
}
.bigbanner .banner_show .img_wrap {
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left:-960px;
}
.container {
	position: absolute;
	width: 1200px;
	height: 705px;
	left: 50%;
	top: 50%;
	margin: -352.5px 0 0 -600px;
}
.head {
	position: absolute;
	width: 440px;
	height: 150px;
	left: 50%;
	top: 0;
	transform: translate(-50%,0%);
	text-align: center;
	font-family: MicrosoftYaHei;
	letter-spacing: 0px;
	color: #333;
}
.head img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
}
.head h2 {
	margin-top: 48px;
	font-size: 36px; 
	line-height: 48px;
	text-indent: -50px;
	font-weight: bolder;
}
.head p {
	font-size: 26px;
	line-height: 72px;
}
.tradition_wrap {
	position: absolute;
	width: 100%;
	height: 293px;
	left: 0;
	bottom: 0;
}
.vexed {
	position: absolute;
	left: 50%;
	top: 0;
	margin: 25px 0 0 -90px;
	z-index: 2;
}
.lines {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -71.5px 0 0 -371.5px;
	z-index: 1;
}
.tradition_wrap span {
	display: inline-block;
	position: relative;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36px;
	letter-spacing: 0px;
	color: #333;
}

/*新安线上选车位*/
.online {
	position: relative;
	height: 900px;
	overflow: hidden;
}
.supremacy {
    position: relative;
    padding-top: 175px;
    height: 725px;
    font-size: 14px;
    color: #F00;
}
.supremacy_img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -175px 0 0 -250px;
}
.supremacy_wrap {
	position: absolute;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0px;
	color: #333;
}
.supremacy_wrap .supremacy_bg {
	width: 90px;
	height: 90px;
	background: url(../img/supremacy_icon.png) no-repeat -9999px 0;
}
.supremacy_wrap h2 {
	position: absolute;
	width: 380px;
	text-align: right;
}
.supremacy_wrap h2 span {
	display: block;
}
.supremacy_wrap:nth-of-type(1) {
	left: 50%;
	top: 230px;
	margin-left: -45px;
}
.supremacy_wrap:nth-of-type(1) .supremacy_bg {
	background-position: -247px 0px;
}
.supremacy_wrap:nth-of-type(1) h2 {
	left: 0;
	top: 0;
	margin: -45px 0 0 -145px;
}
.supremacy_wrap:nth-of-type(2) {
	right: 380px;
	top: 310px;
}
.supremacy_wrap:nth-of-type(2) .supremacy_bg {
	background-position: -432px -74px;
}
.supremacy_wrap:nth-of-type(2) h2 {
	left: 0;
	top: 0;
	margin: 30px 0 0 -45px;
}
.supremacy_wrap:nth-of-type(3) {
	right: 310px;
	top: 485px;
}
.supremacy_wrap:nth-of-type(3) .supremacy_bg {
	background-position: -496px -256px;
}
.supremacy_wrap:nth-of-type(3) h2 {
	left: 0;
	top: 0;
	margin: 30px 0 0 -45px;
}
.supremacy_wrap:nth-of-type(4) {
	right: 380px;
	top: 645px;
}
.supremacy_wrap:nth-of-type(4) .supremacy_bg {
	background-position: -419px -425px;
}
.supremacy_wrap:nth-of-type(4) h2 {
	left: 0;
	top: 0;
	margin: 30px 0 0 -25px;
}
.supremacy_wrap:nth-of-type(5) {
	left: 50%;
	top: 725px;
	margin-left: -45px;
}
.supremacy_wrap:nth-of-type(5) .supremacy_bg {
	background-position: -247px -498px;
}
.supremacy_wrap:nth-of-type(5) h2 {
	left: 0;
	top: 0;
	margin: 105px 0 0 -180px;
}
.supremacy_wrap:nth-of-type(6) {
	left: 380px;
	top: 645px;
}
.supremacy_wrap:nth-of-type(6) .supremacy_bg {
	background-position: -66px -418px;
}
.supremacy_wrap:nth-of-type(6) h2 {
	right: 110px;
	top: 0;
	margin: 30px 0 0 0px;
}
.supremacy_wrap:nth-of-type(7) {
	left: 310px;
	top: 485px;
}
.supremacy_wrap:nth-of-type(7) .supremacy_bg {
	background-position: 0px -245px;
}
.supremacy_wrap:nth-of-type(7) h2 {
	right: 110px;
	top: 0;
	margin: 30px 0 0 0px;
}
.supremacy_wrap:nth-of-type(8) {
	left: 380px;
	top: 310px;
}
.supremacy_wrap:nth-of-type(8) .supremacy_bg {
	background-position: -76px -72px;
}
.supremacy_wrap:nth-of-type(8) h2 {
	right: 110px;
	top: 0;
	margin: px 0 0 0px;
}

/*互联网选车位*/
.select_online {
	position: absolute;
	width: 100%;
	height: 710px;
	left: 0;
	bottom: 0;
}
.select_title {
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 115px;
	font-size: 40px;
	letter-spacing: 0px;
	color: #333;
	line-height: 72px;
	background: url(../img/logo_icon.png) no-repeat 0 60px;
}
.select_online img {
	position: absolute;
}
.select_online img:nth-of-type(1) {
	left: 265px;
	top: 440px;
	z-index: 3;
}
.select_online img:nth-of-type(2) {
	right: 435px;
	top: 290px;
	z-index: 2;
}
.select_online img:nth-of-type(3) {
	right: 0;
	top: 25px;
	z-index: 1;
}

/*案例*/
.case {
	position: relative;
	height: 480px;
}

.case h2 {
	color: #333;
}

.case_wrap {
	position: relative;
	padding-top: 150px;
	height: 310px;
	font-size: 14px;
	color: #F00;
	overflow: hidden;
}
.swiper-container {
  	width: 100%;
  	height: 100%;
}
.swiper-slide {
	vertical-align: middle;
	text-align: center;
}
.swiper-slide img {
	margin-top: 25px;
}
.swiper-slide h2 {
	font-size: 16px;
	line-height: 34px;
	letter-spacing: 0px;
	color: #666;
}
.swiper-button-prev {
	width: 37px;
	height: 49px;
	top: 65%;
	left: 0px;
	background: rgba(0,0,0,.5) url(../img/left.png) no-repeat 0 0;
}
.swiper-button-next {
	width: 37px;
	height: 49px;
	top: 65%;
	right: 0px;
	background: rgba(0,0,0,.5) url(../img/right.png) no-repeat 0 0;
}
.swiper-button-prev:hover {
	background-color: rgba(0,0,0,.7);
}
.swiper-button-next:hover {
	background-color: rgba(0,0,0,.7);
}
/*定制服务*/
.custom_wrap {
	position: absolute;
	width: 100%;
	height: 420px;
	left: 0;
	bottom: 0;
}
.custom {
	float: left;
	width: 20%;
	text-align: center;
	position: relative;
}
.custom img {
	width: 156px;
	height: 184px;
}
.custom h2 {
	font-family: MicrosoftYaHei;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #666666;
	margin-top: -20px;
}
.arrow {
	position: absolute;
	top: 150px;
}